<footer>
    <div class="container">
        <div class="footer-wrapper">
            <div class="col-sm-12">
                <div class="col-sm-3">
                    <h4>Contributions are not tax deductible.</h4>
                    <p>A copy of the current report is or will be available at the Illinois State Board of Elections, Springfield, Illinois 62704.</p>
                </div>
                <div class="col-sm-3">
                    <h4>Authorized by:</h4>
                    <p>Friends for Arthur Turner II
                        3849 W. Ogden Ave. Suite B
                        Chicago, IL 60623<br>
                        Phone: 773.277.4702<br>
                        Fax: 773.227.4703<br>
                        <a href="">friends@friendsforturner.com</a>
                    </p>

                </div>
                <div class="col-sm-3">
                    <h4>Facebook</h4>
                </div>
                <div class="col-sm-3">
                    
                </div>
            </div>
            <div class="col-sm-12 credit" >
                <p >Website by <a href="http://zis.es" target="_blank">Zises Strategic Communications</a></p>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="./assets/js/main.js"></script>
<script type="text/javascript" src="./assets/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="./assets/js/vendor/semantic.min.js"></script>