---
layout: default
---

<div class="post-container">
	<h4>Become a part of our campaign! Your time and energy is valuable and needed.</h4>
	<p>Please take a moment to fill out the form. We will get in touch with you in the next 72 hours. If you simply wish to be added to our mailing list, use the link to the right.</p>	
	<form accept-charset="UTF-8" action="https://formkeep.com/f/XXXXXXXXXXXX" method="POST">
		<div>
			<label>Name</label><br>
			<input type="text" name="name" placeholder="Your Name">
		</div>
		<div>
			<label>Email</label><br>
			<input type="email" name="email" placeholder="Your Email">	
		</div>
		<div>
			<label>Address</label><br>
			<input type="text" name="address" placeholder="Address">	
		</div>
		<div>
			<label>City</label><br>
			<input type="text" name="city" placeholder="City">	
		</div>
		<div>
			<label>Phone</label><br>
			<input type="phone" name="phone" placeholder="Phone">	
		</div>
		<input type="hidden" name="utf8" value="✓">
		<button type="submit">Submit</button>
	</form>
</div>